@media only screen and (max-width: 768px) {
    .header-desktop {
        display: none;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.menu-item {
    display: inline-block;
    padding: 6px 12px;
    background-color: #17a2b8;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 400;
    margin: 4px 2px;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item:active {
    background-color: #d44d5b;
}